Options -MultiViews
RewriteEngine On
RewriteBase /milk_trade_solution/
RewriteRule ^index\.html$ - [L]
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule . /milk_trade_solution/index.html [L]